.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page a:hover {
  color: black;
}

.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
}
