.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: auto 0;
}

.product-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-bottom: 20px;
}

.product-username {
  font-size: 18px;
  color: darkgray;
  margin-bottom: 10px;
  font-weight: 400;
}

.product-description {
  font-size: 16px;
  color: black;
  max-width: 500px;
  margin-bottom: 20px;
  text-align: center;
}

.product-page button {
  background: none;
  color: black;
  padding: 7px 14px;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  &:hover {
    background-color: black;
    color: white;
  }
}
