@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900&display=swap");

* {
  font-family: "Rubik", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  &:hover {
    color: darkgray;
  }
}

h1 {
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.primary-btn {
  background-color: black;
  color: white;
  padding: 7px 14px;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  &:hover {
    background: none;
    color: black;
  }
}

.secondary-btn {
  background: none;
  color: black;
  padding: 7px 14px;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  &:hover {
    background-color: black;
    color: white;
  }
}
